<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web11</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>producthoutaiservlet</display-name>
    <servlet-name>producthoutaiservlet</servlet-name>
    <servlet-class>com.chenxin.web.producthoutaiservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>producthoutaiservlet</servlet-name>
    <url-pattern>/producthoutai</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addproductservlet</display-name>
    <servlet-name>addproductservlet</servlet-name>
    <servlet-class>com.chenxin.web.addproductservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addproductservlet</servlet-name>
    <url-pattern>/addproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertproductservlet</display-name>
    <servlet-name>insertproductservlet</servlet-name>
    <servlet-class>com.chenxin.web.insertproductservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertproductservlet</servlet-name>
    <url-pattern>/insertproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteproductservlet</display-name>
    <servlet-name>deleteproductservlet</servlet-name>
    <servlet-class>com.chenxin.web.deleteproductservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteproductservlet</servlet-name>
    <url-pattern>/deleteproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateproductservlet</display-name>
    <servlet-name>updateproductservlet</servlet-name>
    <servlet-class>com.chenxin.web.updateproductservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateproductservlet</servlet-name>
    <url-pattern>/updateproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>oneupdateproductservlet</display-name>
    <servlet-name>oneupdateproductservlet</servlet-name>
    <servlet-class>com.chenxin.web.oneupdateproductservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>oneupdateproductservlet</servlet-name>
    <url-pattern>/oneupdateproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findproductservlet</display-name>
    <servlet-name>findproductservlet</servlet-name>
    <servlet-class>com.chenxin.web.findproductservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findproductservlet</servlet-name>
    <url-pattern>/findproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findproductfenleiservlet</display-name>
    <servlet-name>findproductfenleiservlet</servlet-name>
    <servlet-class>com.chenxin.web.findproductfenleiservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findproductfenleiservlet</servlet-name>
    <url-pattern>/findproductfenlei</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findallleibieservlet</display-name>
    <servlet-name>findallleibieservlet</servlet-name>
    <servlet-class>com.chenxin.web.findallleibieservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findallleibieservlet</servlet-name>
    <url-pattern>/findallleibie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteleibieservlet</display-name>
    <servlet-name>deleteleibieservlet</servlet-name>
    <servlet-class>com.chenxin.web.deleteleibieservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteleibieservlet</servlet-name>
    <url-pattern>/deleteleibie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateleibieservlet</display-name>
    <servlet-name>updateleibieservlet</servlet-name>
    <servlet-class>com.chenxin.web.updateleibieservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateleibieservlet</servlet-name>
    <url-pattern>/updateleibie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>finleibiebyidservlet</display-name>
    <servlet-name>finleibiebyidservlet</servlet-name>
    <servlet-class>com.chenxin.web.finleibiebyidservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>finleibiebyidservlet</servlet-name>
    <url-pattern>/finleibiebyid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addleibieservlet</display-name>
    <servlet-name>addleibieservlet</servlet-name>
    <servlet-class>com.chenxin.web.addleibieservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addleibieservlet</servlet-name>
    <url-pattern>/addleibie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findalldingdanservlet</display-name>
    <servlet-name>findalldingdanservlet</servlet-name>
    <servlet-class>com.chenxin.web.findalldingdanservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findalldingdanservlet</servlet-name>
    <url-pattern>/findalldingdan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteproductsservlet</display-name>
    <servlet-name>deleteproductsservlet</servlet-name>
    <servlet-class>com.chenxin.web.deleteproductsservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteproductsservlet</servlet-name>
    <url-pattern>/deleteproducts</url-pattern>
  </servlet-mapping>
</web-app>