<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>book_start_web</display-name>
  <welcome-file-list>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>300</session-timeout>
  </session-config>
  <filter>
    <display-name>Login</display-name>
    <filter-name>Login</filter-name>
    <filter-class>com.chenxin.web.filter.Login</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Login</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.chenxin.web.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DianhuaServlet</display-name>
    <servlet-name>DianhuaServlet</servlet-name>
    <servlet-class>com.chenxin.web.servlet.DianhuaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DianhuaServlet</servlet-name>
    <url-pattern>/Dianhua</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.chenxin.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.chenxin.web.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.chenxin.web.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeibieServlet</display-name>
    <servlet-name>LeibieServlet</servlet-name>
    <servlet-class>com.chenxin.web.servlet.LeibieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeibieServlet</servlet-name>
    <url-pattern>/Leibie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OneleibieServlet</display-name>
    <servlet-name>OneleibieServlet</servlet-name>
    <servlet-class>com.chenxin.web.servlet.OneleibieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OneleibieServlet</servlet-name>
    <url-pattern>/Oneleibie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomepageServlet</display-name>
    <servlet-name>HomepageServlet</servlet-name>
    <servlet-class>com.chenxin.web.servlet.HomepageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomepageServlet</servlet-name>
    <url-pattern>/Homepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Real_nameServlet</display-name>
    <servlet-name>Real_nameServlet</servlet-name>
    <servlet-class>com.chenxin.web.servlet.Real_nameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Real_nameServlet</servlet-name>
    <url-pattern>/Real_name</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShoppingcartServlet</display-name>
    <servlet-name>ShoppingcartServlet</servlet-name>
    <servlet-class>com.chenxin.web.servlet.ShoppingcartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingcartServlet</servlet-name>
    <url-pattern>/Shoppingcart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TradecartServlet</display-name>
    <servlet-name>TradecartServlet</servlet-name>
    <servlet-class>com.chenxin.web.servlet.TradecartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TradecartServlet</servlet-name>
    <url-pattern>/Tradecart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelectSubTradeServlet</display-name>
    <servlet-name>DelectSubTradeServlet</servlet-name>
    <servlet-class>com.chenxin.web.servlet.DelectSubTradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelectSubTradeServlet</servlet-name>
    <url-pattern>/DelectSubTrade</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelectTradecartServlet</display-name>
    <servlet-name>DelectTradecartServlet</servlet-name>
    <servlet-class>com.chenxin.web.servlet.DelectTradecartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelectTradecartServlet</servlet-name>
    <url-pattern>/DelectTradecart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DingdanServlet</display-name>
    <servlet-name>DingdanServlet</servlet-name>
    <servlet-class>com.chenxin.web.servlet.DingdanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DingdanServlet</servlet-name>
    <url-pattern>/Dingdan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DingdantijiaoServlet</display-name>
    <servlet-name>DingdantijiaoServlet</servlet-name>
    <servlet-class>com.chenxin.web.servlet.DingdantijiaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DingdantijiaoServlet</servlet-name>
    <url-pattern>/Dingdantijiao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DingdanFindServlet</display-name>
    <servlet-name>DingdanFindServlet</servlet-name>
    <servlet-class>com.chenxin.web.servlet.DingdanFindServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DingdanFindServlet</servlet-name>
    <url-pattern>/DingdanFind</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TuichuServlet</display-name>
    <servlet-name>TuichuServlet</servlet-name>
    <servlet-class>com.chenxin.web.servlet.TuichuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TuichuServlet</servlet-name>
    <url-pattern>/Tuichu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllproductServlet</display-name>
    <servlet-name>AllproductServlet</servlet-name>
    <servlet-class>com.chenxin.web.servlet.AllproductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllproductServlet</servlet-name>
    <url-pattern>/Allproduct</url-pattern>
  </servlet-mapping>
</web-app>